/** {
    margin: 0;
    padding: 0;
}*/
.btn {
    padding:  10px;
}
#start_btn {
    margin-right: 10px;
}
.canvas {
    height: 500px;
    width: 800px;
    position: absolute;
    background: #000;
}
